<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <%= link_to "LOGO", articles_path, :class => "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup ">
    <p class="navbar-nav mx-4">
      <%= link_to "Article feeds", articles_path, :class => "nav-item nav-link active" %>
      <%= link_to "Creat New Article",new_article_path, :class => "nav-item nav-link" %>
      
    </div>
            <%# <div><%= render "search/form_search"%></div>
         <p class="navbar-text d-flex justify-content-center px-4 float-right mx-4">
        <% if user_signed_in? %>
          <strong><%= current_user.email %></strong>.
          <%= link_to "Analytics",search_path, :class => "nav-item nav-link" %>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
        </p>
         
  </div>
</nav>